body,
#root {
  height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.app-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 25px;

  font-family: sans-serif;
}
.input-container input {
  padding: 5px;
  width: 500px;
}

.actions-container {
  display: flex;
  gap: 10px;
}

.actions-container button {
  padding: 5px;
}

.answer,
.error {
  width: 500px;
  text-align: center;
}

.error p {
  font-weight: bold;
  color: red;
}
